body {
    width: 100%;
    margin: 0;
    font-family: "Hind Madurai", sans-serif;
    line-height: 30px;
  }
  h1 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
  }
  #title {
    padding: 20px;
    text-align: center;
    font-size: clamp(25px, 4vw, 40px);
  }
  #image {
    width: clamp(400px, 60vw, 1000px);
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #img-div {
    font-family: "Lora", serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*table start*/
  .tg {
    border-collapse: collapse;
    border-color: #93a1a1;
    border-spacing: 0;
    margin: 0 auto;
  }
  .tg td {
    background-color: #fdf6e3;
    border-color: #93a1a1;
    border-style: solid;
    border-width: 1px;
    color: #002b36;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg th {
    background-color: #657b83;
    border-color: #93a1a1;
    border-style: solid;
    border-width: 1px;
    color: #fdf6e3;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg .tg-sazp {
    background-color: #eee8d5;
    border-color: inherit;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    text-align: left;
    vertical-align: top;
  }
  .tg .tg-m9oq {
    background-color: #eee8d5;
    border-color: inherit;
    font-family: Impact, Charcoal, sans-serif !important;
    text-align: left;
    vertical-align: top;
  }
  .tg .tg-2bhk {
    background-color: #eee8d5;
    border-color: inherit;
    text-align: left;
    vertical-align: top;
  }
  .tg .tg-jhmv {
    border-color: inherit;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
  }
  .tg .tg-2uv0 {
    background-color: #eee8d5;
    border-color: inherit;
    font-family: Impact, Charcoal, sans-serif !important;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-mjvq {
    border-color: inherit;
    font-family: Impact, Charcoal, sans-serif !important;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-fsug {
    background-color: #fdf6e3;
    border-color: #000000;
    color: #002b36;
    font-family: Impact, Charcoal, sans-serif !important;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
  }
  .tg .tg-fr75 {
    border-color: inherit;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    text-align: left;
    vertical-align: top;
  }
  /*table finish*/
  #tribute-link {
    width: 50%;
    padding-left: 35%;
    padding-right: 25%;
  }
  